
*{
    margin: 0;
    padding: 0;
}

body { 
    background-image:url('s-l500.png'); 
    border: solid black 15px; 
} 


.none {
    display: none;

}


.disable{
    display: none;
}

.container{
    display: flex;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: auto;
}

#divimg{
    justify-content: space-between;

}
#img1{
    width:  400px;
    height: 400px;
    background-size: cover;
    border: solid 25px rgba(20, 20, 20, 0.254); 


}

#img2{
    
    width:  400px;
    height: 400px;
    background-size: cover;
    border: solid 25px rgba(14, 13, 13, 0.254);
    
}
h1{

    color: rgba(63, 64, 65, 0.358);
    margin-top: 5%;
    font-weight: bold;
}

.imgofpulto{
    background-size: cover;
    border: solid 25px rgba(20, 20, 20, 0.254);
}

